<div class="wrapper fadeInDown">
  <div id="formContent">
    <%= form_with model: @workout do |f| %>
       <%= render :partial => 'form', :locals => { :f => f } %>
      <br>
      <%= link_to "delete", workout_path(@workout), controller: :workouts, method: :delete, data: {confirm: 'are you sure?'} %><br>
      <%=link_to "cancel", workout_path(@workout) %>
    <% end %>
</div>

<div class="card-workout-info">
  <% if @workout.repetitions.length > 0 %>
         <ul class="show-rep">
            <% @workout.repetitions.each do |rep| %> 
              <% @exercise = Exercise.find_by(id: rep.exercise_id) %>
              <li class="rep">Name: <%= @exercise.name %><br>Type: <%= @exercise.exercise_type %> - Equipment: <%= @exercise.equipment %><br> Reps: <%= rep.reps %> - Sets: <%= rep.sets %><br><%= link_to 'edit', edit_workout_exercise_repetition_path(rep.workout_id, rep.exercise_id, rep.id) %><br><%= link_to 'remove', workout_exercise_repetition_path(rep.workout_id, rep.exercise_id, rep.id), controller: :repetitions, method: :delete, data: {confirm: 'are you sure?'} %></li>
            <% end %>
        </ul>
    <% else %>
      <%= link_to 'add exercise', workout_exercises_path(@workout) %>
    <% end %> 
</div>