<div class="wrapper fadeInDown">
  <div id="formContent">
    <%= form_with model: @workout do |f| %>
       <%= render :partial => 'form', :locals => { :f => f } %>
      <br>
      <%= link_to "delete", workout_path(@workout), controller: :workouts, method: :delete, data: {confirm: 'are you sure?'} %><br>
      <%=link_to "cancel", workout_path(@workout) %>
    <% end %>
</div>

<% if @workout.repetitions.length > 0 %>
  <% @workout.repetitions.each do |rep| %>
    <% @exercise = Exercise.find_by(id: rep.exercise_id) %>
    <div class="card-workout-info">
        <p class="card-content">Name: <%= @exercise.name %></p>
        <p class="card-content">Type: <%= @exercise.exercise_type %></p> 
        <p class="card-content">Equipment: <%= @exercise.equipment %></p>
        <p class="card-content">Reps: <%= rep.reps %></p>
        <p class="card-content">Sets: <%= rep.sets %></p>
        <p class="card=content"><%= @exercise.description %></p>
        <%= link_to 'edit', edit_workout_exercise_repetition_path(rep.workout_id, rep.exercise_id, rep.id) %><br>
        <%= link_to 'remove', workout_exercise_repetition_path(rep.workout_id, rep.exercise_id, rep.id), controller: :repetitions, method: :delete, data: {confirm: 'are you sure?'} %>
    </div>
  <% end %> 
<% end %>