<div class="card-workout-info">
  <h3 class="card-title">Workouts</h3>
  <%= link_to "new workout", new_workout_path %><br>
</div>


<div class="dropdown">
      <%= form_tag("/workouts", method: "get") do %>
      <%= select_tag "user", options_from_collection_for_select(@users, "id", "first_name"), include_blank: 'user name' %>
      <%= submit_tag "Filter" %>
    <% end %>
</div>

<%if !@workouts.nil? %>
  <%@workouts.each do |workout|%>
      <div class="card-workout-info">
        <h5 class="card-title"><%= link_to "#{workout.title}", workout_path(workout) %></h5>
        <p class="card-content">workout type: <%= workout.workout_type %></p>
        <p class="card-content">difficulty: <%= workout.difficulty %></p>
        <p class="card-content"><%= workout.minutes %> minutes</p>
        <p class="card-content">created by <%= workout.user.first_name %></p>
      </div>
  <%end%>
<%end%>