<div class="card-workout-info">
    <h3 class="card-title"><%= @workout.title %></h3>
    <h5 class="card-content">workout type: <%= @workout.workout_type %></h5>
    <h5 class="card-content">difficulty: <%= @workout.difficulty %></h5>
    <h5 class="card-content"><%= @workout.minutes %> minutes</h5>
    <p class="card-content">created by <%= @workout.user.first_name %></p>

    <% if @workout.repetitions.length > 0 %>
         <ul class="show-rep">
            <% @workout.repetitions.each do |rep| %>
                <% @exercise = Exercise.find_by(id: rep.exercise_id) %>
                <li class="rep">Name: <%= @exercise.name %><br>Type: <%= @exercise.exercise_type %> - Equipment: <%= @exercise.equipment %><br> Reps: <%= rep.reps %> - Sets: <%= rep.sets %><br><%= @exercise.description %></li>
            <% end %>
        </ul>
    <% end %> 
 
    <% if current_user.id == @workout.user_id %>
        <%= link_to "edit workout", edit_workout_path(@workout) %><br>
        <%= link_to "add exercises", workout_exercises_path(@workout) %><br>
    <% end %>
    <%= link_to "all workouts", workouts_path %>   
</div>