<div class="wrapper fadeInDown">
  <div class="formContent">
    <%= form_with do |f| %>

      <%= f.text_field :email, class: 'fadeIn first', placeholder: 'email' %>
      <%= f.password_field :password, class: 'fadeIn first', placeholder: 'password' %>

      <%= f.submit "log in", class: 'fadeIn third' %>
    <% end %>
    <div class="wrapper FadeInDown">
      <%= link_to('Log in with Facebook!', '/auth/facebook') %>
      <%=link_to "create new account", new_user_path %>
      </div>
</div>