<div class="wrapper fadeInDown">
  <div id="formContent">
    <%= form_with do |f| %>

      <%= f.text_field :email, class: 'fadeIn first', placeholder: 'email' %>
      <%= f.password_field :password, class: 'fadeIn first', placeholder: 'password' %>

      <%= f.submit "log in", class: 'fadeIn third' %><br>
      <%= link_to('Log in with Facebook', '/auth/facebook') %>
      <br>
      <%=link_to "create new account", new_user_path %>
    <% end %>
</div>