<h1>Login</h1>

<%= form_with class: "new_session_form" do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "log in" %>
<% end %>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>

<p> need an account?</p><%=link_to "create new account", new_user_path %>