<div class="card-workout-info">
  <h3 class="card-title"><%= @workout.title %></h3>
  <% if @exercises.length > 0 %>
    <ul class="show-rep">
      <% @exercises.each do |exercise| %>
        <li class="rep">Name: <%= exercise.name %><br>Type: <%= exercise.exercise_type %> - Equipment: <%= exercise.equipment %><br><%= exercise.description %><br><%= link_to "Add", new_workout_exercise_repetition_path(@workout, exercise) %></li>
      <% end %>
    </ul>

    <%= link_to "new exercise", new_workout_exercise_path %><br>
    <%= link_to "cancel", workouts_path %>
  <% end %> 
</div>